.wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f1f1ef;
  /* border-top-right-radius: 50px; */
  border-bottom-left-radius: 50px;
  box-shadow: 2px 2px 10px rgb(39, 37, 37);
}