.wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f1f1ef;
  /* border-top-right-radius: 50px; */
  border-bottom-left-radius: 50px;
  box-shadow: 2px 2px 10px rgb(39, 37, 37);
}

.title {
  margin: 50px auto;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(75, 62, 142);
  border-top: 1px solid rgb(75, 62, 142);

  }

  .welcome {
    display: block;
    text-align: center;
    font-size: 20px;
    max-width: 460px;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 10px rgb(39, 37, 37); */
  }
